.chatearConUnOperadorContainer {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  width: 100%;
  min-height: calc(100vh - 160px);
  height: fit-content;
  justify-content: center;
  overflow-y: scroll;
}

.chatearPageMessage {
  margin: 20px auto;
  text-align: center;
  color: #63bee6;
  font-weight: 700;
}

.volverButtonChatearConUnOperador {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: white;
  color: #384d56;
  margin: 0 auto;
  width: 150px;
  height: fit-content;  
  font-size: 20px;
  font-weight: 900;
}

.volverButtonChatearConUnOperador:hover {
  color: #384d56 !important;
}

.volverButtonChatearConUnOperador:visited {
  color: #384d56 !important;
}

.volverIconChatearConUnOperador {
  position: absolute;
  width: 23px;
  height: 23px;
  top: 4px;
  left: 20px;
}
