.formWhatsappContainer {
  display: flex;
  width: 100%;
  max-width: 620px;
  height: fit-content;
  padding: 20px 40px 40px 40px;
  background: white;
  margin: 0 auto;
}

.formFormWhatsapp {
  width: 100%;
  height: 100%;
  border: none;
}

.inputContainer {
  position: relative;
  width: 100%;
  height: 90px;
}

.subtitle {
  display: block;
  font-size: 14px;
  font-weight: 700;
  color: black;
  margin-bottom: 5px;
}

.inputformWhatsapp {
  display: block;
  border: none;
  border-bottom: solid rgb(143, 143, 143) 1px;
  background: none;
  color: black;
  font-weight: 700;
  font-size: 20px;
  height: 35px;
  width: calc(100% - 2px);
  margin-bottom: 5px;
}

.inputformWhatsapp:focus-visible {
  outline: none;
}

.inputformWhatsapp::placeholder {
  font-family: roboto, sans-serif;
  font-weight: 300;
  font-size: 12px;
  font-style: italic;
}

.inputAlerts {
  display: flex;
  align-items: flex-start;
  color: #ff0400;
  font-size: 15px;
  font-weight: 700;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
}

.chatButtonChatear {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 3px 3px 4px 0px #6c6c6c;
  background: #384d56;
  color: rgba(255, 255, 255, 0.8);
  margin-top: 20px;
  width: calc(100%);
  height: 50px;  
  font-size: 20px;
  font-weight: 700;
}

.chatButtonChatear:hover {
  color: white !important;
}

.chatButtonChatear:visited {
  color: white !important;
}

.iconWhatsappChatear {
  position: absolute;
  left: 20px;
  top: 4px;
  color: black;
  width: 42px;
  height: 42px;
}

.inputPhoneHelp {
  position: absolute;
  top: 34px;
  right: 0px;
}


.submitButtonFormHome{
  display: block;
  cursor: pointer;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 7px #38d39f70;
  background: #384d56;
  color: rgba(255, 255, 255, 0.8);
  margin: 20px 30px 0 30px;
  width: calc(100% - 60px);
  height: 35px;  
  font-size: 20px;
  font-weight: 700;
}

.submitButtonFormHome{
  color: rgb(255, 255, 255);
  box-shadow: none;
}


