footer{
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 160px;
  background-color: #384d56;
  color: white;
  justify-content: center;
  align-items: center;  
}

.contactenosTitulo {
  color: white;
  width: 100%;
  text-align: center;
}

.footerGrid {
  display: grid;
  width: 100%;
  max-width: 355px;
  height: 80px;
  margin: 0 auto;
  grid-template-rows: repeat(3, 40px);
  grid-template-columns: 55px 300px;
  justify-content: center;  
  text-align: center;
}

.iconFooter {
  display: flex;
  width: 20px;
  height: 20px;
  color: white;
  margin: auto;
}

a.messageFooter {
  display: flex;
  font-size: 14px;
  text-align: center;
  align-items: center;
  padding: 0;
  font-size: 18px;
  color: white;  
}

.messageFooter {
  font-weight: 700;
  display: flex;
  font-size: 14px;
  text-align: center;
  align-items: center;
  padding: 0;
  color: black;
  font-size: 18px;
  color: white;
  user-select: all;
  width: fit-content;
}


