*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
}


.homeContainer{
  width: 100%;
  padding: 0 15px;
  min-height: 100vh;
}

.blockContainer{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, auto);
}

.portada{
  width: 100%;
}

.titulo, .subTitulo{
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 200;
}

.titulo{
  padding: 20px 0 5px 0;
  font-size: 28px;
}

.subTitulo{
  
  font-size: 18px;
}

p{
  color: #4e5c66;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0;
}

.parrafo1{
  margin-top: 20px;
}

.gancho1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #158cba;
  font-size: 20px;
}

.ctaFormulario1{
  text-align: center;
  font-size: 22px;
}

.ctaFormSubTitulo1{
  text-align: center;
  padding: 0;
  font-size: 15px;
}

.ctaFormulario2{
  margin: 25px 0 10px 0;
  text-align: center;
  font-size: 20px;
}

.lineaDivisoria{
  margin-top: 45px;
  border: 1px solid #bebebe;
}

.parrafo4{
  margin-top: 25px;
}

.parrafo7{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 60px;
  color: #158cba;
  font-size: 20px;
  font-weight: 700;
}