*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h5, p{
  margin: 0;
  padding:0;
}

.app{
  display:flex;
}
.hidden{
  display: none;
}

a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

a:visited{
  color: white !important;
  text-decoration: none !important;
}


.homeContainer{
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 0 15px;
  min-height: 100vh;
}

.blockContainer{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, auto);
}

.portada{
  display: block;
  margin: 0 auto;
  width: 100%; 
  padding-top: 30px; 
}

.titulo, .subTitulo{
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 200;
}

.titulo{
  padding: 20px 0 5px 0;
  font-size: 28px;
}

.subTitulo{
  
  font-size: 18px;
}

p{
  color: #4e5c66;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0;
}

.parrafo1{
  margin-top: 20px;
}

.gancho1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #d55e20;
  font-size: 20px;
}

.ctaFormulario1{
  text-align: center;
  font-size: 22px;
}

.ctaFormSubTitulo1{
  text-align: center;
  padding: 0;
  font-size: 15px;
}

.ctaFormulario2{
  margin: 25px 0 10px 0;
  text-align: center;
  font-size: 20px;
}

.lineaDivisoria1{
  margin-top: 45px;
  border: 1px solid #bebebe;
}

.lineaDivisoria2{
  margin-top: 25px;
  border: 1px solid #bebebe;
}

.parrafo4{
  margin-top: 25px;
}

.parrafo7{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #d55e20;
  font-size: 20px;
  font-weight: 700;
}

.whatsappLink{
  display: grid;
  grid-template-columns: 25px 80px;
  grid-template-rows: 38px;
  padding: 2px 15px 0 15px;
  animation-name: fadeIn, whatsappIconAnimation;
  animation-duration: 0.5s, 4s;
  animation-delay: 0.1s, 4s;
  animation-iteration-count: 1, infinite;  
  position: fixed;
  bottom: 200px;
  right: 20px;
  width: 135px;
  height: 40px;
  z-index: 1;
  background-color: #14A1DE;
  border-radius: 15px;
  box-shadow: 5px 5px 10px #4c4c4c; 
  align-items: center;
  text-align: center;
  margin: 0 auto;
  color: white;
  font-family: Roboto, san-serif;
  font-size: 14px;
  font-weight: 500;

  
}

.chatIcon{
  width: 20px;
  height: 20px;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes whatsappIconAnimation {
  0% {
    width: 135px;
    height: 40px;
  }
  5% {
    width: 136px;
    height: 41px;
  }
  10% {
    width: 135px;
    height: 40px;
  }
  15% {
    width: 136px;
    height: 41px;
  }
  20% {
    width: 135px;
    height: 40px;
  }
  100% {
    width: 135px;
    height: 40px;
  }

}


@media screen and (min-width: 768px){
  .homeContainer{
    max-width: 900px;
    padding: 0 20px;
    min-height: 100vh;
  }

  .portada{    
    display: block;    
    width: 100%;
    max-width: 1000px;    
    margin: 0 auto;

  }
}

