*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  text-decoration: none;
}


.app{
  display:flex;
}
.hidden{
  display: none;
}

a{
  cursor: pointer;
  color: black;
}

a:visited{
  color: white;
}

a:hover{
  color: #499e9b
}


.homeContainer{
  margin: 0 auto;
  width: 100%;
  height: fit-content;
  padding: 0 15px;
  min-height: 100vh;
}

.blockContainer{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(15, auto);
}

.portada{
  display: block;
  margin: 0 auto;
  width: 100%; 
  padding-top: 30px; 
}

.titulo, .subTitulo{
  text-align: center;
  font-family: 'Roboto Serif', serif;
  font-weight: 200;
}

.titulo{
  padding: 20px 0 5px 0;
  font-size: 28px;
}

.subTitulo{
  
  font-size: 18px;
}

p{
  color: #4e5c66;
  font-size: 20px;
  line-height: 30px;
  padding: 12px 0;
}

.parrafo1{
  margin-top: 20px;
}

.gancho1{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: #d55e20;
  font-size: 20px;
}

.ctaFormulario1{
  text-align: center;
  font-size: 22px;
}

.ctaFormSubTitulo1{
  text-align: center;
  padding: 0;
  font-size: 15px;
}

.ctaFormulario2{
  margin: 25px 0 10px 0;
  text-align: center;
  font-size: 20px;
}

.lineaDivisoria1{
  margin-top: 45px;
  border: 1px solid #bebebe;
}

.lineaDivisoria2{
  margin-top: 25px;
  border: 1px solid #bebebe;
}

.parrafo4{
  margin-top: 25px;
}

.parrafo7{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 30px;
  color: #d55e20;
  font-size: 20px;
  font-weight: 700;
}

.whatsappLink{
  position: fixed;
  bottom: 40px;
  right: 10%;
  width: 70px;
  height: 70px;
}

@media screen and (min-width: 768px){
  .homeContainer{
    max-width: 900px;
    padding: 0 20px;
    min-height: 100vh;
  }

  .portada{    
    display: block;    
    width: 100%;
    max-width: 1000px;    
    margin: 0 auto;

  }
}

